#game_of_life .case.alive{
  background-color: black;
}


#game_of_life .case{
  width: 10px;
  height: 10px;
  border: grey solid 2px;
  background-color: white;
}

table{
    border-collapse: collapse;
}

input{
  max-width:70px;
}

#start, #stop, #restart{
  border:none;
  background: none;
}

.page{
  position: relative;; /* postulat de départ */
  left: 5%; /* à 50%/50% du parent référent */
  top: -5%;
}
